<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>

<body>

    <div class="container">

        <div class="calc">
            <div class="window" placeholder="0">0</div>
            <div class="buttons calculator-buttons">
                <button class="btn calc-button silver" id="AC">AC</button>
                <button class="btn calc-button silver" id="CE">CE</button>
                <button class="btn calc-button silver" id="%">%</button>
                <button class="btn calc-button orange">รท</button>
                <!--   second row   -->
                <button class="btn calc-button" id="seven">7</button>
                <button class="btn calc-button" id="eight">8</button>
                <button class="btn calc-button" id="nine">9</button>
                <button class="btn calc-button orange" id="multiply">ร</button>
                <!--   third row   -->
                <button class="btn calc-button" id="">4</button>
                <button class="btn calc-button">5</button>
                <button class="btn calc-button">6</button>
                <button class="btn calc-button orange">+</button>
                <!--   fourth row   -->
                <button class="btn calc-button">1</button>
                <button class="btn calc-button">2</button>
                <button class="btn calc-button">3</button>
                <button class="btn calc-button orange">-</button>
                <!--   fifth row   -->
                <button class="btn calc-button ">0</button>
                <button class="btn calc-button ">.</button>
                <button class="btn calc-button is-equals orange">=</button>
            </div>
        </div>
    </div>

</body>

</html>